<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GARF - {{context.title}}</title>

    <!-- Spectre css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre-0.5.1/dist/spectre.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre-0.5.1/dist/spectre-exp.min.css') }}">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">

    <!-- jquery ui -->
    <link rel="stylesheet" href="{{url_for('static', filename='scripts/jquery-ui-1.12.1/jquery-ui.min.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="/configuracoes" class="btn btn-link">Configurações</a>
            <a href="/regras-ativas" class="btn btn-link">Regras ativas</a>
            <a href="/historico" class="btn btn-link">Histórico</a>
            <a href="/estatisticas" class="btn btn-link">Estatisticas</a>
        </section>
        <section class="navbar-center">
            <span class="logo">Garf</span>
        </section>
        <section class="navbar-section">
            <a href="/" class="btn btn-link">GitHub</a>
        </section>
    </header>
    <main class="content">
        {% block body %} {% endblock %}
    </main>

    <footer>
        <div class="columns">
            <div class="col-8 col-mx-auto config-fields">
                <p>Desenvolvido por
                    <b>Rafael Queiroz</b>
                </p>
            </div>
        </div>
    </footer>
</body>

<script src="{{url_for('static', filename='scripts/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='scripts/jquery-ui-1.12.1/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static', filename='scripts/ui.datepicker-pt-BR.js')}}"></script>
{% block scripts %}{% endblock%}
<script>
    setInterval(function(){ window.reload(); }, 1000 * 60 * 4); // Regarrega a página a cada 4 mins
</script>
</html>