{% extends "base.html" %} {% block body %}

<div class="container">
    <div class="columns">
        <div class="col-8 col-mx-auto">
            <div class="section-name">
                <h1>Regras Ativas</h1>
            </div>
            <div class="columns">
                <div class="col-11 col-mx-auto config-fields board">
                    <!-- Tabela de regras -->
                    <table class="table table-striped table-hover rules-table" id="rules-table">
                        <thead>
                            <tr>
                                <th>Rule</th>
                                <th>Expira Em</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rule in context.regras %}
                            <tr>
                                <td>iptables -A INPUT -p {{ rule.protocol }} --dport {{ rule.destination_port }} -s {{rule.source_ip}} -j DROP</td>
                                <td>{{ rule.expires_in }}</td>
                                <td><button class="btn btn-error" onclick="remove({{loop.index}} )"> Remover </button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <form action="/remove-rule" style="display: none" id="remove-rule" method="POST">
                    <input type="text" name="rule" id="rule" value="">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='scripts/regras-ativas.js') }}"></script>

{% endblock %}