html{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #f7f7f7;
}
.navbar{
    height: 120px;
    background-color: black;
}

.btn-link {
    font-size: 1.6em;
    color: antiquewhite !important;
    font-weight: 300;
}

.navbar a:active,
.navbar a:hover{
    background-color: #f7f7f7;
    color: black !important;
}

.logo{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
}

.section-name{
    border-bottom: 1px solid #666666;
    margin-top: 40px;
}
.section-name h1{
    margin-bottom: 8px;
}
.field-name{
    display: inline-block !important;
}

.content{
    min-height: 700px;
}

.config-fields{
    margin-top: 40px;
}
label{
    font-size: 1.4em;
    font-weight: bold;
}
.description{
    display: block;
    max-width: 350px;
}
.rules-table{
    font-size: 1.2em;   
}
.icon-wrapper{
    background-color: #f7f7f7;
}
.board{
    max-height: 500px;
    overflow-y: scroll;
}

.tabble tr{
    background-color: #e2e2e2;
}

.table td, .table th {
    border-bottom: .05rem solid #aaacbd;
}